*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;

  /*var-colors*/
  --black: hsl(1, 100%, 0%);
  --blue: hsl(221, 90%, 65%);
  --ligther-green: hsl(113, 100%, 90%);
  --green: hsl(113, 75%, 75%);
  --gray: hsl(0, 0%, 90%);
  --darker-gray: hsl(0, 0%, 35%);
  --orange: hsl(22, 100%, 75%);
  --yellow: hsl(55, 100%, 75%);
  --white: hsl(0, 0%, 100%);

  /*var-shadows*/
  --shadow-1:hsl(0, 0%, 86%);
  --shadow-2:hsl(0, 0%, 100%);
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  margin: auto;
  padding: 30px 16px 30px 16px;
}
.main-section a{
  color: var(--blue);
}
code{
  font-family: "Roboto mono", monospace;
  font-size: 14px;
}
.green-markup{
  background-color: var(--green);
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
}
.ligther-green-markup{
  background-color: var(--ligther-green);
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
}
.gray-markup{
  background-color: var(--gray);
  border-radius: 2px;
  color: var(--darker-gray);
  padding: 0px 3px 0px 3px;
}
.orange-markup{
  background-color: var(--orange);
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
}
.yellow-markup{
  background-color: var(--yellow);
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
}
.underline{
  text-decoration: underline;
}
.blue{
  color: var(--blue);
}
h1{
  font-size: 48px;
  font-weight: 800;
  margin: 24px 0px 24px 0px;
}
p{
  line-height: 36px;
  margin: 20px 0 20px 0;
}
h2{
  font-size: 36px;
  font-weight: 700;
  margin: 8px 0px 8px 0px;

}
h3{
  font-size: 28px;
  font-weight: 500; 
}
li{
  margin: 24px 0 0 28px;
  line-height: 26px;

  font-family: "Roboto mono", monospace;
}
ul{
  margin: 0px 0 24px 0 ;
}

.images{
  border: 2px solid var(--gray);
  border-radius: 2px;
  filter: hue-rotate(150deg);
  margin: 30px 0 30px 0;
  width: 100%;
  max-width: 400px;
  box-shadow:  6px 6px 10px var(--shadow-1),
                 -6px -6px 10px var(--shadow-2); 
}
.example-box{
  display: block;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 6px;
  box-shadow:  4px 4px 10px var(--shadow-1),
                 -4px -4px 10px var(--shadow-2); 
  padding: 18px;
  margin: 5px 0 38px 0;
  overflow: auto;
  width: 100%;
}
.border-box{
  border: 1px solid var(--black);
  padding: 8px;
  min-width: 280px;
  max-width: 360px;
}
.box{
  display: flex;
  border: 2px dotted var(--blue);
  width: 450px;
}

.box div{
  border: 2px solid var(--blue);
  border-radius: 2px;
}
.code-margin-1{
  margin: 0 0 0 44px;
}
.code-margin-2{
  margin: 0 0 0 88px;
}
h4{
  font-size: 20px;
  font-weight: 700;
  margin: 32px 0 8px 8px;
}
.code-box{
  border: 1px solid var(--gray);
  background-color: white;
  border-radius: 8px;
  box-shadow:  8px 8px 10px var(--shadow-1),
               -8px -8px 10px var(--shadow-2); 
  color: var(--darker-gray);
  display: block;
  font-family: "Roboto mono", monospace;
  font-size: 14px;
  padding: 24px 48px 24px 48px;
  width: 100%;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}
#row-reverse{
  flex-direction: row-reverse;
}
#row-reverse div{
  width: 75px;
}
#flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
#flex-wrap div{
  width: 50%;
}
#flex-flow{
  flex-flow: column nowrap;
}
#flex-flow div{
  width: 170px;
}
.note{
  background-color: var(--green);
  border-radius: 8px;
  box-shadow:  4px 4px 10px var(--shadow-1),
               -4px -4px 10px var(--shadow-2); 
  display: flex;
  margin: 18px 0 36px 0;
  padding: 24px;
}
.note p{
  align-self: center;
}
.note p::before{
  align-self: center;
  background-color: var(--white);
  border-radius: 50%;
  content: "i";
  color: var(--black);
  font-family: 'Roboto mono', monospace;
  padding: 4px 10px 4px 10px;
  position: relative;
  right: 10px;
}
#one{
  flex: 2 1 auto;
}
#two{
  flex: 1 3 auto;
}
#three{
  flex: 3 2 auto;
}
#align-items{
  align-items: center;
  height: 180px;
}
#justify-content{
  justify-content: space-evenly;
}
#justify-content div{
  max-width: fit-content;
}
